.multiselect.allow .multiselect__tags,
.multiselect.allow .multiselect__tags span,
.multiselect.allow .multiselect__tags input {
  color: #fff;
  background: #28a745;
}

.multiselect.disallow .multiselect__tags,
.multiselect.disallow .multiselect__tags span,
.multiselect.disallow .multiselect__tags input {
  color: #fff;
  background: #dc3545;
}

.multiselect.own .multiselect__tags,
.multiselect.own .multiselect__tags span,
.multiselect.own .multiselect__tags input {
  background: #ffc107;
}