@import "~bootstrap-daterangepicker/daterangepicker.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "stisla/css/style.css";
@import "stisla/css/components.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "~izitoast/dist/css/iziToast.css";
@import '~vue-good-table/dist/vue-good-table.css';
//custom
@import 'vue_good_table_fix';
@import 'file_manager_fix.scss';

body {
  background-color: #f3f3f4;
}

.card .card-header {
  border-bottom-color: #dcdfe6;
}

.form-control[readonly]:focus, .input-group-text[readonly]:focus, .custom-select[readonly]:focus, .custom-file-label[readonly]:focus {
  background-color: #e9ecef;
  border-color: #95a0f4;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: initial;
}

.section .section-header .section-header-back .btn:hover {
  background-color: #e9ecef;
  color: #191d21;
}

.should-hide {
  display: none
}

.cursor-pointer {
  cursor: pointer !important;
}

.section {
  z-index: initial;
}
