.tag-link {
    padding: 10px 15px;
}

.mt-30 {
    margin-top: 30px;
}

header.masthead {
    margin-bottom: 30px;
}

.post-meta {
    font-style: italic;
    font-family: Lora, 'Times New Roman', serif;
    display: block;
}

.post-tag-item {
    text-decoration: none !important;
}

.post-tag-item:hover {
    color: #0085a1 !important;
}

.custom-flag-icon {
    width: 30px;
    height: 30px;
}

.dropdown-toggle {
    text-decoration: none !important;
}
